* {
    margin: 0px;
    padding: 0px;
}

/* CSS variable */
:root {
    --navbar-height: 59px;
}

/* navigation bar  */

#navbar {
    display: flex;
    align-items: center;
}

#navbar::before {
    content: "";
    background-color: rgb(54, 52, 52);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 20;
}

/* navigation bar logo */
#logo {
    margin: 26px 3px;
}

#logo img {
    margin: -22px 17px;
    height: 60px;
    width: 60px;
}

/* navigation bar ul list  */
#navbar {
    position: relative;
}

#navbar ul {
    display: flex;
}

#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    display: block;
    color: white;
    padding: 2 px 32px;
    border-radius: 20px;
    text-decoration: none;
    margin: 15px;
}

#navbar ul li a:hover {

    color: rgb(5, 3, 3);
    background-color: white;

}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    padding: 3px 328px;
    align-items: center;
    height: 181px;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    background: url(/vastrafashion/img3.png) no-repeat center center/cover;
    height: 80%;
    width: 100%;
    z-index: -1;
    opacity: 34.9;
    /* margin-top: -405px; */

}

/* utility classes */
.h-primary {
    font-size: 2.5rem;
    padding: 12px;

    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;


}

.tagline {
    font-size: 1.6rem;
    color: aliceblue;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
   

}

.detail {
    color: rgb(244, 245, 248);
    font-size: 1rem;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin-top: 3px;
    margin-bottom: 3px;

}
.btn{
    padding: 3px 10px;
    border: 2px solid rgb(235, 231, 231);
    background-color: rgb(157 143 117);
    margin: 9px 3px 2px;
    font-size: 1.1rem;
    cursor: pointer;
}






















/* Online material */
.multicolor-text {
    text-align: center;
    font-size: 2.5rem;
    background: linear-gradient(to left,
            violet,
            indigo,
            blue,
            green,
            yellow,
            orange,
            red);
    -webkit-background-clip: text;
    color: transparent;
}